# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS files
.DS_Store
.AppleDouble
.LSOverride

# Sub-directories
template/
writeup/

# Other files
*.pdf
*.tex
*.log

# VSCODE files
.vscode/

# Project files
/*.project
/*.pydevproject
/.settings