# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS files
.DS_Store
.AppleDouble
.LSOverride

# Other files
*.pdf
*.tex
*.log
*.npy
*.png
*.jpg

# VSCODE files
.vscode/

# Project files
/*.project
/*.pydevproject
/.settings

# Sub-directories
template/
writeup/
src/
